.bash_history
.mysql_history
.python_history
.python-version
.screenrc
__pycache__
.viminfo
.bundle/
.cache/
.composer/
.gem/
.local/
.npm/
.pyenv/
.ssh/
.xbuild/
backup/
gocode/
LOCAL/
private_isu/webapp/public/image/
repos/
